$red-primary: #dc3e22;
$red-hover: #b7280f;
$red-bar: #b7280f;
$red-bar-hover: #ee735d;
$green-primary: #a8b64f;
$green-hover: #899441;
$gray-primary: #f4f4f4;
$grey-border: #c4c4c4;
$text-main: #333333;
$text-secondary: #999999;
$blue-hover: #000051;
